{% load static %}

<html>
<head>
    <title>Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>

<body>

    <div class="menu">
        <h1>Bonjour! Bienvenue dans Manager 2.0! (By Elimen)<br /></h1>
        <p>
            Choissisez entre plusieurs options:<br />
            1- Ajouter un élément au manager<br />
            2- Enlever un élément du manager<br />
            3- Avoir un regard dessus<br />
            4- Réinitialiser votre liste<br />
            5- Quitter<br />
            6- Sauvegarder infos<br />
            7- Charger infos<br />
            Lequel choissisez-vous ?<br />
            -->
        </p>
        <input class="mdp" type="search" placeholder="Votre choix..." />
    </div>

</body>
</html>
